nav{
  background:#f1f1f1;
  height:85px;
  margin: 25px;
  opacity: .9;
}

label{
  font-family: sans-serif;
  color:black;
  font-size:35px;
  padding:20px;
  letter-spacing: 3px;
  line-height: 85px;  
  margin-left: 55px; 
}

nav ul{
  font-family: sans-serif;
  float:right;
  margin-right:55px;
  text-decoration: none;
  list-style:none;
  box-sizing:border-box;
}
nav ul li{
  display:inline-block;
  line-height:5px;
  margin:25px;
  font-size: 20px;
  color:black;
  text-decoration: none;
  list-style:none;
  box-sizing:border-box;
}

li:hover{
  background-color: lightgray;
}

  section{
    display: flex;
    flex-wrap: nowrap;
}

  section > div {
    width: 400px;
    padding: 50px;
    height: 400px;
    margin-top: 25px;
    background-color: #f1f1f1;
    opacity: 0.8;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    margin-left: 110px;
    font-family: sans-serif;
  }
 
body{
    background-image: url(ice2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
footer > img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.footer {
  text-align: left;
  color:#d0d0d0;
    padding:15px;
    height:30px;
    padding-left: 40px;
    opacity: .9;
  }
  #img{
    opacity: none;
  }